.hseq-hero-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../asset/heroone.jpg);
  /* width: 100%; */
  min-height: 20vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 20px;
  flex-direction: row;
}

.hseq-hero-section > div {
  color: white;
  font-size: 150%;
  font-weight: 500;
  position: relative;
  text-transform: uppercase;
}

.hseq-hero-section > div::after {
  display: block;
  position: absolute;
  content: "";
  border-bottom: solid white 1px;
  width: 50%;
  padding-top: 10px;
}



.first-page section 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
}



/* i gave them each coresponding amount of width */
.first-page section .hseq-link-div
{
    background-color: rgb(253, 253, 252);
    width: 25%;
    margin: 10px auto;
    padding: 10px;
}

.first-page section .hseq-link-div
{
    display: flex;
    flex-direction: column;
}

.first-page section .hseq-link-div a 
{
    text-decoration: none;
    font-size: 1.175rem;
    color: black;
    margin: 8px 0 0 0 ;
    height: 100px;
    display: flex;
    align-items: center;
}

.first-page section .hseq-link-div a:hover 
{
    color: rgb(97, 11, 11);
}

.first-page section .hseq-text-div
{
    width: 100%;
   
}

.first-page section .hseq-text-div h1
{
    font-size: 35px;
}

.first-page section .hseq-text-div blockquote 
{
    font-size: 17px;
    letter-spacing: 1px;
    margin-top: 15px;
    font-weight: 300;
}

@media screen and (max-width: 1150px) {
    .first-page section 
    {
        display: flex;
        /* align-items: center;
        justify-content: center; */
        flex-direction: column;
        padding: 15px;
    }

    .first-page section .hseq-link-div
    {
        width: 100%;
        margin: 10px auto;
        padding: 10px;
    }

    .first-page section .hseq-text-div
    {
        width: 95%;
    }

    .first-page section .hseq-link-div a 
{
    background-color: #fbf4f4;
    border: solid 1px;
    text-decoration: none;
    font-size: 1.3625rem;
    color: black;
    margin: 15px 0 15px 0 ;
    height: 60px;
    width: 95%;
    font-weight: 500;
    padding: 10px;
}

.first-page section .hseq-text-div blockquote 
{
    font-size: 20px;
    letter-spacing: 1px;
    margin-top: 15px;
    font-weight: 300;
}
}

@media screen and (max-width: 500px) {

    .first-page section .hseq-link-div
    {
        width: 100%;
        margin: 10px auto;
        padding: 0px;
    }

    .first-page section .hseq-link-div a 
    {
        background-color: #fbf4f4;
        border: solid 1px;
        text-decoration: none;
        font-size: 1.3rem;
        color: black;
        margin: 15px 0 15px 0 ;
        height: 60px;
        width: 95%;
        font-weight: 500;
        padding: 10px;
    }

    .first-page section .hseq-text-div h1
    {
        font-size: 25px;
    }

    .first-page section .hseq-text-div blockquote 
    {
        font-size: 1.2rem;
        text-align: left;
        font-weight: 400;
    }
}